.main{
    width:100%;
    height:100%;
    position: absolute;
    fill-opacity: 0%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    fill-opacity: 0%;
}

#dreamCard {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 1px solid white;
    width: 60vh;
    height: 60vh;
    position: relative;
    left: 0vh;
    color:white;
    font-family: 'MartianMonoLight';
    box-sizing: border-box;
    overflow: hidden; /* Prevent content overflow */
    
    #card-exit{
        position: absolute; 
        top: 20px; 
        right: 30px; 
        cursor: pointer; 
        pointer-events:all !important;
        border-width: 3px solid white;
        padding: 0px;
        
    }

}

.clickable{
    pointer-events:all !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 0.8); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(144, 122, 207); 
}

.dream-card .content {
    height: calc(80%); /* Adjust according to the height of the .details section */
    overflow-y: auto; /* Make the content scrollable if it exceeds the container height */
    padding: 2.5%; /* Optional, to avoid scrollbar overlap on text */
}

.dream-card h1 {
    padding: 2.5%;
    font-size: 20px;
    font-family: 'MartianMonoBold';

}

.dream-card p {
    font-size: 12px;
    line-height: 1.6;
    font-family: 'MartianMonoThin';

}

.dream-card .details {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.detail {
    width: 50%;
    margin-bottom: 5px;
    font-size: 12px;
}

.highlight {
    color: #3498db;
}

