.text-container {
  position: fixed;
  width: 66%;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 50%;
}

.searchBar {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 2px;
  left: 3px;
  padding: 10px;
  height: 80%;
  border-radius: 0; 
  box-sizing: border-box;
  background-color: #00000000;
  color: rgb(160, 160, 160);
  cursor: pointer;
}

.home-icon {
  position: absolute;
  bottom: 3%;
  left: 2.5%;
  padding: 10px;
  border-radius: 40px; /* Set to 0 for sharp edges */
  box-sizing: border-box;
  background-color: rgb(175, 175, 175);
  color: black;
  cursor: pointer;
  border-color:rgb(129, 129, 129);
  border-width: 0px; 
  border-style: solid; 

  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px; /* Initial width */
  height: 70px; /* Initial height */
  border: 2px solid black;

}

.home-icon i {
  font-size: 24px; /* Adjust the size as needed */
}


.toggleCheckbox {
  display: none;
}

.toggleContainer {
  position: absolute;
  bottom: 4%;
  right: 2.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 20px;
  background: #52525200;
  font-family: 'MartianMonoBold';
  font-size:11px;
  cursor: pointer;

  width: 10%; /* Initial width */
  height: 40px; /* Initial height */
  display: flex;
  justify-content:space-around;
  align-items: center;

}

.toggleContainer::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius:18px;
  background: rgb(175, 175, 175);
  transition: all 0.3s;
}

.toggleContainer div {
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.toggleCheckbox:checked + .toggleContainer::before {
  left: 50%;
}

.toggleCheckbox:checked + .toggleContainer div:first-child{
  color: rgb(175, 175, 175);
  transition: color 0.3s;
}
.toggleCheckbox:checked + .toggleContainer div:last-child{
  color: black;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:first-child{
  color: black;
  transition: color 0.3s;
}
.toggleCheckbox + .toggleContainer div:last-child{
  color:rgb(175, 175, 175);
  transition: color 0.3s;
}

.invert{
  background-color: rgb(175, 175, 175);
  color: #000000 !important;


}


.cross-icon {
  position: absolute;
  top: 2px;
  right: 3px;
  padding: 10px;
  height: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: transparent;
  color: rgb(153, 153, 153);
  cursor: pointer;
}

.input {
  width: 100%;
  height: 20%;
  background-color: #000000b4;
  padding: 10px 20px 10px 50px;
  box-sizing: border-box;
  font-family: 'MartianMonoThin';
  font-size: 16px;
  color:rgb(255, 255, 255);
  outline: none;
  text-align: center;
  //border-radius: 0%;  
  box-shadow: none;
  border-color:rgb(129, 129, 129);
  border-width: 1px; 
  border-style: solid; 
  border-radius: 18px;

}

.hidden {
  display: none !important;
}

.keyboardContainer {
  position: relative;
}

.infoBar {
  position: fixed;
  width: 33%;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

#dreamCount {
  width: 44%;
  height: 15%;
  position: relative;
  left: 25%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.767);
  padding: 10px 20px 10px 2%;
  border-radius: 0;  /* Set to 0 for sharp edges */
  box-sizing: border-box;
  font-family: 'MartianMonoThin';
  font-size: 16px;
  outline: none;
  text-align: center;
  color: rgb(175, 175, 175)
}

#dreamCount:after {
  content: attr(data-last-word);
  color: #ff0000;
  font-family: 'MartianMonoBold';
  position: relative;
  top: 0;
}

.button-next {
  position: fixed;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.button-prev {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}


.btn {
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(143, 143, 143);
  font-family: 'MartianMonoThin';
  font-size: 100px;
  font-weight: 400;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
}

// .button-container .button-others:hover {
//   background-color: rgb(32, 32, 32);
// }

// .button-container .button-others.left {
//   margin-left: 1px;
// }

// .button-container .button-others.right {
//   margin-right: 10px;
// }


.simple-keyboard.blackTheme {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.blackTheme .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(175, 175, 175);
}

.simple-keyboard.blackTheme .hg-button:active {
  background: #1c4995;
  color: rgb(175, 175, 175);
}

#root .simple-keyboard.blackTheme + .simple-keyboard-preview {
  background: #1c4995;
}
