.text-container {

  position: fixed;
  width: 40%;
  bottom: 3%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: rgb(0,0,0, 0);
  border-radius: 50%;

.searchBar{
  position: relative;
  left: 25%;
  width:50%;
}
  .search-icon {
    position: absolute;
    top: 0;  /* Align to top of container */
    left: 0; /* Align to left of container */
    padding: 10px;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;  /* Include padding and border in element's total height and width */
    background-color: #f8dd5a;    
    color:black; 
    cursor:pointer;
  }
  
  .cross-icon{
      position: absolute;
      top: 0;  /* Align to top of container */
      right: 0; /* Align to left of container */
      padding: 10px;
      height: 100%;
      border-radius: 15px;
      box-sizing: border-box;  /* Include padding and border in element's total height and width */
      background-color: transparent;    
      color:black;
      cursor:pointer;
  }

  .input {
    width: 100%;
    height:20%;
    background-color:#b3b3b3;
    padding: 10px 20px 10px 50px;  /* Increase left padding to accommodate icon */
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    box-sizing: border-box;  
    font-family: 'MartianMonoBold';
    font-size: 13px;
    outline: none;
    text-align: center; 
}

}

.hidden{
display:none;
}


.keyboardContainer{
  width: 50%;
  position:relative;
  left: 25%;
}

.infoBar{
  position: fixed;
  width: 33%;
  top: 3%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;


  #dreamCount{
    width: 44%;
    height:20%;
    position: relative;
    left: 25%;
    width: 50%;
    background-color:black;
    padding: 10px 20px 10px 50px;  /* Increase left padding to accommodate icon */
    border: 2px solid white;
    border-radius: 5px;
    box-sizing: border-box;  
    font-family: 'MartianMonoBold';
    font-size: 13px;
    outline: none;
    text-align: center; 
    color:white;

  }

  #dreamCount:after {
    content: attr(data-last-word); /* Use the data-last-word attribute value as content */
    color: rgb(226, 225, 133); /* Set the color for the last word */
    font-family: 'MartianMonoBold';
    position: relative;

    top: 0;
    
}



}