.text-container {

  position: fixed;
  width: 40%;
  bottom: 3%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background-color: rgb(0,0,0, 0);
  border-radius: 50%;

.searchBar{
  position: relative;
  left: 25%;
  width:50%;
}
  .search-icon {
    position: absolute;
    top: 0;  /* Align to top of container */
    left: 0; /* Align to left of container */
    padding: 10px;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;  /* Include padding and border in element's total height and width */
    background-color: #f8dd5a;    
    color:black;}

  .input {
    width: 100%;
    padding: 10px 20px 10px 50px;  /* Increase left padding to accommodate icon */
    border: 1px solid #b3b3b3;
    border-radius: 15px;
    box-sizing: border-box;  
    font-family: 'MartianMonoBold';
    font-size: 13px;
    outline: none;
    /* Adding transition effect */
    transition: ease-in-out, width .35s ease-in-out;


}

  .scrollable-text {
    margin-top: 30px;
    resize: none;
    background-color: transparent;
    width: 100%;
    max-height: 700px;
    height: 70vh; 
    position:  relative;
    color: #ffff; 
    text-align: center;
    font-family: 'MartianMonoLight';
      font-size: 13px;
    &:focus {
      color: #555;
    }
    

    
    &::-webkit-scrollbar {
      width: 7px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 10px;
      border: 2px solid transparent;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 100px;
    }
  }

  h1 {
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  .input-prompt {
    margin-top: 20px; /* Increased margin above */
    margin-bottom: 20px; /* Increased margin below */
    width: 100%;
    text-align: center;
    font-family: 'MartianMonoLight';
    font-size: 13px;
  }
  
  .input-prompt label {
    color: white;
    display: block;
    margin-bottom: 15px;
  }
  
  #button-search { 
    display: block; /* Changed from inline-block to block */
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;
    margin: auto;
    border-radius: 2px;
    min-width: 40px;
    height: 25px;
    background-color: rgb(0, 0, 0);
    color: rgb(215, 215, 215);
    font-family: 'MartianMonoThin';
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.516);
  }

  #button-search:hover {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
  }
}

.hidden{
display:none;
}


.keyboardContainer{
  width: 50%;
  position:relative;
  left: 25%;
}
