html,
body,
#canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#canvas {
  outline: none;
}

@font-face {
  font-family: 'MartianMono';
  src: url('/assets/fonts/MartianMono-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
