html,
body,
#canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#canvas {
  outline: none;
}

@font-face {
  font-family: 'MartianMonoLight';
  src: url('/assets/fonts/MartianMono-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MartianMonoBold';
  src: url('/assets/fonts/MartianMono-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MartianMonoThin';
  src: url('/assets/fonts/MartianMono-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MartianMonoRegular';
  src: url('/assets/fonts/MartianMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}